
<div class="pageContent">
    <form method="post" action="@Url.Content("~/User/Add")" class="pageForm required-validate" onsubmit="return validateCallback(this, dialogAjaxDone);">
        <div class="pageFormContent" layoutH="56">
            <p>
                <label>账号名称：</label>
                <input name="name" class="required" type="text" size="30" minlength="1" maxlength="50" />
            </p>
            <p>
                <label>默认密码：</label>
                <input name="pwd" type="text" size="30" readonly="readonly" value="123456" />
            </p>
            <p>
                <label>账号角色：</label>
                <select name="rid"  style="width:180px;">
                    <option value="0">请选择</option>
                    <option value="2">管理员</option>
                    <option value="3">编辑</option>
                    @*<option value="4">财务</option>*@
                </select>
            </p>
        </div>
        <div class="formBar">
            <ul>
                <li>
                    <div class="buttonActive"><div class="buttonContent"><button type="submit">保存</button></div></div>
                </li>
                <li>
                    <div class="button"><div class="buttonContent"><button type="button" class="close">取消</button></div></div>
                </li>
            </ul>
        </div>
    </form>
</div>

